// reset
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    font-family: $fontFamily;
}

// commons
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.cont-70 {
    width: 70%;
    margin: 0 auto;
}

.list-inline {
    display: inline-block;
    li {
        float: left;
    }
}

// repeated items
// green button
.green-button {
    background-color: $greenFontColor;
    color: $whiteFontColor;
    border: 2px solid $greenFontColor;
    border-radius: 3px;
    padding: 6px 12px;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 150px;
}

.borderless-button {
    background: none;
    color: $whiteFontColor;
    border: 2px solid $greenFontColor;
    border-radius: 3px;
    padding: 6px 12px;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 150px;
}

