// Fonts
$fontFamily: 'Montserrat', sans-serif;
$whiteFontColor: #ffffff;
$greyFontColor: #919194;
$blackFontColor: #252c2f;
$greenFontColor: #048383;

// Background
$lightBgColor: #e5ebe5;
$darkBgColor: #131314;
$greenBgColor: #83a7a8;